In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\IPL Matches 2008-2020.csv')

In [3]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [5]:
# 8.Name the team which is defeated by runs?

df[['team1','team2','winner']].loc[df['result']=='runs']

,team1,team2,winner
0,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
1,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings
7,Chennai Super Kings,Mumbai Indians,Chennai Super Kings
9,Kings XI Punjab,Mumbai Indians,Kings XI Punjab
14,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings
...,...,...,...
804,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore
806,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad
807,Delhi Capitals,Rajasthan Royals,Delhi Capitals
812,Mumbai Indians,Delhi Capitals,Mumbai Indians
814,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals

In [15]:
df.groupby(['team1','team2','winner']).size().reset_index().loc[df['result']=='runs']

,team1,team2,winner,0
0,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,4
1,Chennai Super Kings,Deccan Chargers,Deccan Chargers,3
7,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,4
9,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,8
14,Chennai Super Kings,Pune Warriors,Pune Warriors,1
...,...,...,...,...
236,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,7
237,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,5
240,Sunrisers Hyderabad,Mumbai Indians,Sunrisers Hyderabad,4
246,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,1
247,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,6

In [16]:
df1 = pd.read_csv(r'C:\Users\Satyam\Downloads\IPL Ball-by-Ball 2008-2020.csv')

In [17]:
df1.columns

Index(['id', 'inning', 'over', 'ball', 'batsman', 'non_striker', 'bowler',
       'batsman_runs', 'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [18]:
df1.bowler

0               AA Noffke
1               AA Noffke
2                  Z Khan
3                  Z Khan
4                  Z Khan
               ...
193463    NM Coulter-Nile
193464    NM Coulter-Nile
193465          KH Pandya
193466          KH Pandya
193467          KH Pandya
Name: bowler, Length: 193468, dtype: object

In [19]:
df1.is_wicket

0         0
1         0
2         0
3         0
4         0
         ..
193463    0
193464    0
193465    0
193466    0
193467    0
Name: is_wicket, Length: 193468, dtype: int64

In [20]:
if df['team2']==df['winner']:
    df['defeat']=df['team1']
else:
    df['defeat']=df['team2']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [40]:
wicket = df1[df1['is_wicket'] == 1]

In [44]:
wicket.bowler

Harbhajan Singh    3290
R Ashwin           3174
PP Chawla          3121
A Mishra           3064
SL Malinga         2786
                   ...
I Malhotra            6
AM Rahane             5
SPD Smith             2
SN Khan               2
DA Warner             2
Name: bowler, Length: 419, dtype: int64

In [47]:
# max wicket taker
# top 5
# bottom 5 wicket takers

df1["bowler"][df1["is_wicket"].max()]

'AA Noffke'

In [52]:
x = df1.query('is_wicket == 1')

In [54]:
x.bowler.value_counts()

SL Malinga         188
DJ Bravo           175
A Mishra           169
PP Chawla          164
Harbhajan Singh    161
                  ...
SS Agarwal           1
GR Napier            1
DJM Short            1
T Henderson          1
JR Hazlewood         1
Name: bowler, Length: 364, dtype: int64

In [57]:
df1[df1['is_wicket']==1].bowler.value_counts()

SL Malinga         188
DJ Bravo           175
A Mishra           169
PP Chawla          164
Harbhajan Singh    161
                  ...
SS Agarwal           1
GR Napier            1
DJM Short            1
T Henderson          1
JR Hazlewood         1
Name: bowler, Length: 364, dtype: int64

In [65]:
top_5_wicketTakers = df1[df1[['is_wicket']]==1][['bowler']].value_counts()

In [66]:
top_5_wicketTakers.head()

Series([], dtype: int64)

In [67]:
df1[df1['is_wicket']==1].bowler.value_counts().head()

SL Malinga         188
DJ Bravo           175
A Mishra           169
PP Chawla          164
Harbhajan Singh    161
Name: bowler, dtype: int64

In [68]:
df1[df1['is_wicket']==1].bowler.value_counts().tail()

SS Agarwal      1
GR Napier       1
DJM Short       1
T Henderson     1
JR Hazlewood    1
Name: bowler, dtype: int64

In [94]:
# winning percentage of KKR?
# total_match_kkr
# win_match_by_kkr
win_match_by_kkr = df.loc[df['winner']=='Kolkata Knight Riders'].shape[0]

In [80]:
# total match by kkr
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [82]:
df.shape

(816, 17)

In [96]:
total_match_by_kkr = df.loc[(df["team1"] == "Kolkata Knight Riders") | (df["team2"] == "Kolkata Knight Riders")].shape[0]

In [99]:
win_per_by_kkr = (win_match_by_kkr/ total_match_by_kkr)

In [100]:
win_per_by_kkr

0.515625

In [ ]:
iqr, box plot