In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Satyam\Downloads\IPL Matches 2008-2020.csv')

In [8]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [4]:
# loc 
# iloc----> index based searching!!
df.iloc[0]

id                                      335982
city                                 Bangalore
date                                2008-04-18
player_of_match                    BB McCullum
venue                    M Chinnaswamy Stadium
neutral_venue                                0
team1              Royal Challengers Bangalore
team2                    Kolkata Knight Riders
toss_winner        Royal Challengers Bangalore
toss_decision                            field
winner                   Kolkata Knight Riders
result                                    runs
result_margin                            140.0
eliminator                                   N
method                                     NaN
umpire1                              Asad Rauf
umpire2                            RE Koertzen
Name: 0, dtype: object

In [9]:
df.iloc[0,3]

'BB McCullum'

In [11]:
df.iloc[0,5]

0

In [12]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [14]:
df.city

0       Bangalore
1      Chandigarh
2           Delhi
3          Mumbai
4         Kolkata
          ...
811         Dubai
812         Dubai
813     Abu Dhabi
814     Abu Dhabi
815         Dubai
Name: city, Length: 816, dtype: object

In [21]:
#how many time ipl was happen in banglore city.
df.iloc[df[0,1]=='Bangalore']

KeyError: (0, 1)

In [17]:
df.loc[df['city']=='Bangalore']

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
10,335992,Bangalore,2008-04-26,SR Watson,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,MR Benson,IL Howell
14,335996,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
24,336006,Bangalore,2008-05-05,S Sreesanth,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,N,NaN,SJ Davis,BR Doctrove
30,336012,Bangalore,2008-05-28,CRD Fernando,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,BF Bowden,AV Jayaprakash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,1082621,Bangalore,2017-04-27,AJ Tye,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,7.0,N,NaN,AK Chaudhary,C Shamshuddin
618,1082633,Bangalore,2017-05-05,Sandeep Sharma,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,runs,19.0,N,NaN,CB Gaffaney,C Shamshuddin
621,1082636,Bangalore,2017-05-07,SP Narine,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,6.0,N,NaN,AY Dandekar,C Shamshuddin
633,1082648,Bangalore,2017-05-17,NM Coulter-Nile,M Chinnaswamy Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,N,D/L,AK Chaudhary,Nitin Menon
634,1082649,Bangalore,2017-05-19,KV Sharma,M Chinnaswamy Stadium,0,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,6.0,N,NaN,NJ Llong,Nitin Menon

In [23]:
df['city'].iloc[0]

'Bangalore'

In [24]:
df['city'].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          65
Hyderabad          64
Chennai            57
Chandigarh         56
Jaipur             47
Pune               38
Abu Dhabi          29
Dubai              26
Bengaluru          15
Durban             15
Visakhapatnam      13
Ahmedabad          12
Sharjah            12
Centurion          12
Rajkot             10
Dharamsala          9
Indore              9
Johannesburg        8
Cuttack             7
Cape Town           7
Port Elizabeth      7
Ranchi              7
Raipur              6
Kochi               5
Kanpur              4
East London         3
Kimberley           3
Nagpur              3
Bloemfontein        2
Name: city, dtype: int64

In [48]:
df.loc[df['city']=='Bengaluru',['city','venue']]

          city                  venue
581  Bengaluru  M.Chinnaswamy Stadium
643  Bengaluru  M.Chinnaswamy Stadium
646  Bengaluru  M.Chinnaswamy Stadium
654  Bengaluru  M.Chinnaswamy Stadium
659  Bengaluru  M.Chinnaswamy Stadium
664  Bengaluru  M.Chinnaswamy Stadium
666  Bengaluru  M.Chinnaswamy Stadium
686  Bengaluru  M.Chinnaswamy Stadium
702  Bengaluru  M.Chinnaswamy Stadium
712  Bengaluru  M.Chinnaswamy Stadium
715  Bengaluru  M.Chinnaswamy Stadium
734  Bengaluru  M.Chinnaswamy Stadium
737  Bengaluru  M.Chinnaswamy Stadium
744  Bengaluru  M.Chinnaswamy Stadium
749  Bengaluru  M.Chinnaswamy Stadium

In [34]:
df.shape

(816, 17)

In [46]:
# df["city"=="Bangalore"].value_counts()
df.loc[df['city']=='Bangalore',['player_of_match','team1']]

     player_of_match                        team1
0        BB McCullum  Royal Challengers Bangalore
10         SR Watson  Royal Challengers Bangalore
14          MS Dhoni  Royal Challengers Bangalore
24       S Sreesanth  Royal Challengers Bangalore
30      CRD Fernando  Royal Challengers Bangalore
..               ...                          ...
606           AJ Tye  Royal Challengers Bangalore
618   Sandeep Sharma  Royal Challengers Bangalore
621        SP Narine  Royal Challengers Bangalore
633  NM Coulter-Nile          Sunrisers Hyderabad
634        KV Sharma               Mumbai Indians

[65 rows x 2 columns]

In [51]:
#aggregation function
df[['city','venue']].iloc[0:2]

         city                                       venue
0   Bangalore                       M Chinnaswamy Stadium
1  Chandigarh  Punjab Cricket Association Stadium, Mohali

In [52]:
# sum,max,min,mean,median,avg,std deviation,percentile
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [53]:
df['result_margin'].sum()

13840.0

In [54]:
df['result_margin'].max()

146.0

In [55]:
df['result_margin'].min()

1.0

In [60]:
df['result_margin'].mean()

17.321652065081352